@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-semibold";
    src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-Bold.woff2) format(woff2);
}

@font-face {
    font-family: "inter-semibold";
    src: url(../fonts/Inter-SemiBold.woff2) format(woff2);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --bs-orange: #ec9744; 
    --bs-dark-gray: #333333;
}

.text-orange {
    color: var(--bs-orange);
}

.fs-5 {
    font-size: 1.20rem !important;
}

.hover-orange:hover {
    color: var(--bs-orange);
    transition: all 0.20s ease-in-out;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

html {
    scroll-behavior: smooth;
}

.logo img{
    width: 194px;
    height: 60px;
}
